.container {
	max-inline-size: 36rem;
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.backToHome {
	margin-block-start: 3rem;
}
